<%= form_for @user do |f| %>
	<%= render 'errors' %>
	<div class="form-group">
		<h4><%= f.label :email %></h4>
		<%= f.text_field :email, class: "form-control" %>
	</div>
	<div class="form-group">
		<h4><%= f.label :password %></h4>
		<%= f.password_field :password, class: "form-control" %>
	</div>
	<div class="form-group">
		<h4><%= f.label :password_confirmation,'Confirmation' %></h4>
		<%= f.password_field :password_confirmation, class: "form-control" %>
	</div>
	<%= f.submit 'Create User', class: "btn-primary btn-lg" %>
<% end %>